
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "expandingimagegrid";

@import "primeflex";

#footer
{
    text-align: center;
    margin-top: 50px;
    background: #5d5c5a;
    color: white;
    padding: 20px;

    a, a:hover, a:visited
    {
      font-size: 1.2em;
      margin-right: 30px;
      color: white;
      white-space: nowrap;
    }

    .social-media-links
    {
        margin-top: 20px;

        a
        {
            height: 54px;
            width: 62px;
            display: inline-block;

            i
            {
                font-size: 32px;
                padding: 5px 15px;
                border: solid 2px white;
                border-radius: 4px;
            }
        }
    }
}

div.hero-slider
{
    .slide
    {
      position: relative;
    }

    img
    {
      width: 100%;
      max-width: 100%;
    }

    .slide-contents
    {
      position: absolute;
      padding: 20px 45px;
      left: 0;
      top: 0;

      .slide-title
      {
        font-size: 4em;
      }

      .slide-caption
      {
        font-size: 2em;
      }

      a.slide-link
      {
        font-size: 1.2em;
        background: black;
        padding: 15px;
        border-radius: 6px;
        color: white;
        text-decoration: none;
      }

      a.slide-link:hover,
      a.slide-link:active
      {
        background: darkgray;
      }
    }

    .slide-contents-relative
    {
      padding-right: 10px;
      padding-left: 10px;

      .slide-title
      {
        font-size: 2em;
      }
    }


}

div.image-list
{
    .thumbnail
    {
        position: relative;
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-width: 4px;
        background-color: #ddd;
        margin-left: 5px;

        img
        {
            position: absolute;
            width: 100%;
            height: auto;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
        }

        img.portrait
        {
            width: auto;
            height: 100%;
        }

        a.download
        {
            display: block;
            position: absolute;
            background: black;
            color: white;
            padding: 0 6px;
            bottom: 2px;
        }

        a.view
        {
            display: block;
            position: absolute;
            background: black;
            color: white;
            padding: 0 6px;
            bottom: 2px;
            left: 35px;
        }

        a.delete
        {
            display: block;
            position: absolute;
            background: black;
            color: white;
            padding: 0 6px;
            bottom: 2px;
            right: 2px;
        }

        a.lock,
        a.unlock
        {
          display: block;
          position: absolute;
          background: white;
          padding: 0 6px;
          top: 2px;
          left: 2px;
        }
    }
}

.admin-nav i.fa,
h1 i.fa
{
  font-size: 1.2em;
  margin-right: 5px;
}

.bx-controls-direction a {
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.bx-wrapper:hover .bx-controls-direction a {
  opacity: 1;
}

.blog-image-right
{
  float: right;
  padding-left: 10px;
  padding-bottom: 10px;
}

.blog-image-left
{
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
}

.admin-grid
{
  border: 1px solid #ddd;
}

.admin-row-even
{
  background-color: #f9f9f9;
}

.admin-row-odd
{

}

.admin-grid-header,
.last-admin-grid-header,
.admin-grid-column,
.last-admin-grid-column
{
  border-bottom: 1px solid #ddd;
}

.admin-grid-header,
.admin-grid-column
{
  border-right: 1px solid #ddd;
}

@media only screen and (max-width: 767px)
{
  .blog-image-left, .blog-image-right
  {
    float: none;
    padding-right: 0;
    padding-left: 0;
  }

  .admin-grid-header, .last-admin-grid-header
  {
    display: none;
  }

  .admin-grid-column
  {
    border: none;
  }
}

@media only screen and (max-width: 40em)
{
    div.hero-slider
    {
      .slide-contents
      {
        padding: 5px 20px;

        .slide-title {
          font-size: 1.6em;
          top: 10px;
        }

        .slide-caption {
          font-size: 1em;
          top: 50px;
        }

        a.slide-link {
          top: 160px;
          font-size: .8em;
          padding: 8px;
        }
      }
    }
}

@media only screen and (min-width: 60em)
{

}